################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/API_PowerBI_AzureAD/obj/Debug
/API_PowerBI_AzureAD/bin
/.vs
